<!DOCTYPE html>
<html ng-app="tictactoeApp">
  <head>
    <title>TIC TAC TOE</title>
    <link rel="stylesheet" type="text/css" href="css/reset.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>
  <body>
     <div id="game" ng-controller="GameCtrl">
       <ul id="teams">
        <li ng-repeat="player in players" ng-class="{'current': isCurrentPlayer(player)}">
          <img ng-src="{{player.img_url}}">
          <h2>Team <span class="team">{{player.marker}}</span></h2>
          <h3 class="player">{{player.name}}</h3>
        </li>
      </ul>
      <div id="board">
        <div ng-repeat="tile in tiles" id='{{tile.id}}' name='{{tile.name}}' class='tile' ng-click='tileClick(tile)'></div>
      </div>
      <div id="results">
        <h1></h1>
        <span class="image"></span>
        <button>play again</button>
      </div>
    </div>

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.min.js"></script>
  <script src="js/underscore.min.js"></script>
  <script src="js/tictactoe_a.js"></script>
  </body>
</html>


